body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:806px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u795 {
  position:absolute;
  left:431px;
  top:258px;
  width:375px;
  height:258px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u796 {
  position:absolute;
  left:20px;
  top:121px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u797 {
  position:absolute;
  left:0px;
  top:59px;
  width:375px;
  height:181px;
  text-align:left;
  line-height:24px;
}
#u798 {
  position:absolute;
  left:40px;
  top:6px;
  width:335px;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u799 {
  position:absolute;
  left:0px;
  top:250px;
  width:375px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u800 {
  position:absolute;
  left:20px;
  top:6px;
  width:355px;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
  line-height:24px;
}
#u801 {
  position:absolute;
  left:0px;
  top:286px;
  width:375px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
  line-height:24px;
}
#u802 {
  position:absolute;
  left:20px;
  top:19px;
  width:355px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u803 {
  position:absolute;
  left:461px;
  top:272px;
  width:57px;
  height:20px;
  color:#666666;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u805 {
  position:absolute;
  left:446px;
  top:308px;
  width:338px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u807 {
  position:absolute;
  left:430px;
  top:336px;
  width:380px;
  height:185px;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u809 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u810 {
  position:absolute;
  left:90px;
  top:0px;
  width:90px;
  height:40px;
  color:#1ABC9C;
}
#u811 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u812 {
  position:absolute;
  left:180px;
  top:0px;
  width:97px;
  height:40px;
  color:#1ABC9C;
}
#u813 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u814 {
  position:absolute;
  left:277px;
  top:0px;
  width:98px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u815 {
  position:absolute;
  left:2px;
  top:11px;
  width:94px;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u816 {
  position:absolute;
  left:0px;
  top:40px;
  width:90px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u817 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u818 {
  position:absolute;
  left:90px;
  top:40px;
  width:90px;
  height:35px;
}
#u819 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u820 {
  position:absolute;
  left:180px;
  top:40px;
  width:97px;
  height:35px;
}
#u821 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u822 {
  position:absolute;
  left:277px;
  top:40px;
  width:98px;
  height:35px;
}
#u823 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u824 {
  position:absolute;
  left:0px;
  top:75px;
  width:90px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u825 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u826 {
  position:absolute;
  left:90px;
  top:75px;
  width:90px;
  height:35px;
}
#u827 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u828 {
  position:absolute;
  left:180px;
  top:75px;
  width:97px;
  height:35px;
}
#u829 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u830 {
  position:absolute;
  left:277px;
  top:75px;
  width:98px;
  height:35px;
}
#u831 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u832 {
  position:absolute;
  left:0px;
  top:110px;
  width:90px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u833 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u834 {
  position:absolute;
  left:90px;
  top:110px;
  width:90px;
  height:35px;
}
#u835 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u836 {
  position:absolute;
  left:180px;
  top:110px;
  width:97px;
  height:35px;
}
#u837 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u838 {
  position:absolute;
  left:277px;
  top:110px;
  width:98px;
  height:35px;
}
#u839 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u840 {
  position:absolute;
  left:0px;
  top:145px;
  width:90px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u842 {
  position:absolute;
  left:90px;
  top:145px;
  width:90px;
  height:35px;
}
#u843 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u844 {
  position:absolute;
  left:180px;
  top:145px;
  width:97px;
  height:35px;
}
#u845 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u846 {
  position:absolute;
  left:277px;
  top:145px;
  width:98px;
  height:35px;
}
#u847 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u848 {
  position:absolute;
  left:440px;
  top:423px;
  width:10px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u849 {
  position:absolute;
  left:0px;
  top:-2px;
  width:10px;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u850 {
  position:absolute;
  left:440px;
  top:458px;
  width:10px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u851 {
  position:absolute;
  left:0px;
  top:-2px;
  width:10px;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u852 {
  position:absolute;
  left:440px;
  top:494px;
  width:10px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u853 {
  position:absolute;
  left:0px;
  top:-2px;
  width:10px;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u854 {
  position:absolute;
  left:440px;
  top:390px;
  width:10px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u855 {
  position:absolute;
  left:0px;
  top:-2px;
  width:10px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:24px;
}
#u856 {
  position:absolute;
  left:446px;
  top:273px;
  width:5px;
  height:19px;
}
#u857 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:24px;
}
#u858 {
  position:absolute;
  left:15px;
  top:258px;
  width:5px;
  height:19px;
}
#u859 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u860 {
  position:absolute;
  left:0px;
  top:489px;
  width:375px;
  height:135px;
  text-align:left;
}
#u861 {
  position:absolute;
  left:40px;
  top:14px;
  width:335px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u862 {
  position:absolute;
  left:273px;
  top:586px;
  width:17px;
  height:20px;
}
#u863 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u864 {
  position:absolute;
  left:0px;
  top:453px;
  width:375px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u865 {
  position:absolute;
  left:20px;
  top:6px;
  width:355px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:24px;
}
#u866 {
  position:absolute;
  left:16px;
  top:461px;
  width:5px;
  height:19px;
}
#u867 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u868 {
  position:absolute;
  left:290px;
  top:506px;
  width:41px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u869 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u870 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:40px;
  overflow:hidden;
}
#u870_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u870_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(90, 190, 200, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u871 {
  position:absolute;
  left:165px;
  top:0px;
  width:210px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u872 {
  position:absolute;
  left:2px;
  top:11px;
  width:206px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(90, 190, 200, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5ABEC8;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5ABEC8;
}
#u874 {
  position:absolute;
  left:2px;
  top:11px;
  width:161px;
  word-wrap:break-word;
}
#u875 {
  position:fixed;
  left:0px;
  top:1px;
}
#u875_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u875_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
#u877 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u879 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u880 {
  position:absolute;
  left:121px;
  top:26px;
  width:161px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u882 {
  position:absolute;
  left:0px;
  top:18px;
  width:62px;
  height:36px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u883 {
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#5ABEC8;
}
#u884 {
  position:absolute;
  left:430px;
  top:222px;
  width:61px;
  height:18px;
  font-size:13px;
  color:#5ABEC8;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u886 {
  position:absolute;
  left:45px;
  top:65px;
  width:20px;
  height:20px;
  color:#E4E4E4;
}
#u887 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:491px;
  top:231px;
  width:0px;
  height:0px;
}
#u888_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u888_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:49px;
}
#u888_seg2 {
  position:absolute;
  left:33px;
  top:32px;
  width:20px;
  height:20px;
}
#u889 {
  position:absolute;
  left:-7px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u890 {
  position:absolute;
  left:290px;
  top:463px;
  width:62px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u891 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
